/* reset css*/
*{margin: 0; padding:0}

.wrapper{
	width: 1200px;
	margin: 0 auto;
}

/*-----------content-------------------------*/

#content {
	max-width:100%;
	min-height:500px;
	margin-top:30px;
	float:left;	
}

#content img {
	width: 100%
}

#content #danhmuc{
	width:300px;
	height:500px;
	float:left;
	margin-top:10px;
}

#content #danhmuc ul{
	list-style-type:none;
	width:300px;
	height:500px;
	float:left;
}

#content #danhmuc ul li{
	width: 250px;
	height:35px;
}

#content #danhmuc ul li:hover{
	color:#0F5CAA;
	text-decoration: underline;
}


#content #danhmuc h3{
	margin-bottom:20px;
	font-size:25px;
}

/*---------nội dung--------------*/
#content #ndung{
	width:685px;
	height:570px;
	float:left;
	margin-left:20px;
}

#content #ndung table{
	width: 635px;
	height:535px;
	font-size:18px;
} 

#content #ndung table th{
	font-size:20px;
}

#content #ndung table input.text{
	width:310px;
	height:30px;
}

#content #ndung table select{
	width:88px;
	height:35px;
}

#content #ndung table .luu{
	width:100px;
	height:35px;
	border-radius: 13px;
	background:#D3364A;
	color:#FFFFFF;
}


	